/* Module 3 assignment styling. */
* {
  box-sizing: border-box;
}

body{
	background-color: #AEFEFF;
}

h1{
	font-size: 175%;
  margin-bottom: 30px;
}

/****  HEADER START ****/

#header-nav{
  background-color: #F800FB;
  border-radius: 0;
  border: 0;
}


#logo-img {
  background: url('../images/rockon.png') no-repeat;
  height: 60px;
  width: 60px;
  background-size: contain;
  margin: 5px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: yellow;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 3px 3px 3px #222;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-brand a:hover{
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  background-color: yellow;
}
#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a {
  font-size: 1.2em;
}

.navbar-header button.navbar-toggle{
  border: 1px solid black;
  clear: both;
  margin-top: -30px;
}


/****  HEADER END  ****/


#container{
	position: relative;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

p{
  border: 3px solid black;
  height: 150px;
  background-color: lightgray;
  margin-right: 10px;
  margin-left: 10px;
  padding: 40px 15px 15px 15px;
  overflow: auto;
}

p.tallbox{
  height: 1500px;
}

.boxtitle{
	height: 35px;
	width: 150px;
	padding: 5px;
  margin-right: 25px;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 0;
  right: 0;
  overflow: hidden;
}

#p1{
	 background-color: pink;
	 color: red;
	 }

#p2{
	 background-color: #73E34C;
	 color: #4C64E3;
}

#p3{
	 background-color: #4C64E3;
	 color: #73E34C;
}

#paragraphImage{
	width: 50%;
}

a:hover{
	background-color: white;
}

li a{
  margin: 10px;  
}
/* header media */

@media (max-width: 767px){
  #header-image{
  margin-left: 30px;
  margin-right: 5px;
  width: 15%;
  }

  .navbar-brand h1 { 
  font-size: 4vw;
  }
}

@media (min-width: 768px){
  #nav-list{
    display: none;
  }
}
/* header media */
